body{
    margin: 0;
}

.console * {
    font-family: monospace;
}

.console {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #111111;
}

.console-history{
    box-sizing: border-box;
    padding: 24px;
    padding-bottom: 0px;
    overflow-y: auto;
}

.console-input-log,
.console-output-log {
    box-sizing: border-box;
    padding : 6px 12px;
}

.console-input-log{
    color: #0000ff;
}

.console-output-log{
    color: #0fcc;
}

.console-input{
    left: -1000px;
    position: absolute;
}

.input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#0000ff;
    padding-left: 36px;/* 24+12 */

}

.input-line{
    flex-grow: 1;
}

.input-line::before{
    content: "airlinedog@aueb.gr:~$ ";
    color: #0000ff;
}

.cursor {
    color: #73ABAD;
    background-color: #73ABAD;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
